In [1]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()
conn.set_session(autocommit=True)

# songplays:

In [2]:
cur.execute('SELECT * FROM songplays LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(596, datetime.datetime(2018, 11, 2, 9, 1, 21), '15', 'paid', None, None, 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
(604, datetime.datetime(2018, 11, 2, 9, 4, 16), '15', 'paid', None, None, 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
(612, datetime.datetime(2018, 11, 2, 9, 8, 18), '15', 'paid', None, None, 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
(505, datetime.datetime(2018, 11, 2, 9, 12, 32), '15', 'paid', None, None, 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')
(535, datetime.datetime(2018, 11, 2, 9, 16, 16), '15', 'paid', None, None, 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')

In [3]:
cur.execute('SELECT count(*) FROM songplays')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(6820,)

# users:

In [4]:
cur.execute('SELECT * FROM users LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('10', 'Sylvie', 'Cruz', 'F', 'free')
('100', 'Adler', 'Barrera', 'M', 'free')
('101', 'Jayden', 'Fox', 'M', 'free')
('11', 'Christian', 'Porter', 'F', 'free')
('12', 'Austin', 'Rosales', 'M', 'free')

In [5]:
cur.execute('SELECT count(*) FROM users')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(104,)

# songs:

In [6]:
cur.execute('SELECT * FROM songs LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.364)
('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.092)
('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.767)
('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, 263.993)
('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, 385.906)

In [7]:
cur.execute('SELECT count(*) FROM songs')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(14896,)

# artists:

In [8]:
cur.execute('SELECT * FROM artists LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None)
('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None)
('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, MÃ©xico', 25.6708, -100.31)
('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', 40.6551, -73.9489)
('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)

In [9]:
cur.execute('SELECT count(*) FROM artists')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(10025,)

# time:

In [10]:
cur.execute('SELECT * FROM time LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 4)
(datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 4)
(datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4)
(datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 4)
(datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, 4)

In [11]:
cur.execute('SELECT count(*) FROM time')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(6813,)

# staging_events

In [12]:
cur.execute('SELECT * FROM staging_events LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(0, 'A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.911, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, 1541377992796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69')
(8, 'Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.778, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Serve The Servants', 200, 1541381242796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')
(16, 'Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.498, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'See No Evil  (Remastered LP Version)', 200, 1541381456796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')
(24, 'JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.435, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Blues To Bechet (LP Version)', 200, 1541381694796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')
(32, 'NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.7963, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, "It's My Job To Keep Punk Rock Elite", 200, 1541382040796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')

In [13]:
cur.execute('SELECT count(*) FROM staging_events')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(8056,)

# staging_songs:

In [14]:
cur.execute('SELECT * FROM staging_songs LIMIT 5')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'ARE6D0Y119B8667D9F', None, None, '', 'Alejandro Santiago', 'SOSFHAT12A58A79EB6', 'Siempre Ana', 234.631, 2002)
(1, 'ARC1IHZ1187FB4E920', None, None, '', 'Jamie Cullum', 'SOUOYBD12A67AE0EC5', 'Oh God', 218.305, 0)
(1, 'ARMYCBG124549A49AC', None, None, '', 'Branford Marsalis Quartet;Terence Blanchard', 'SOEEMJJ12A8C133D41', 'Again Never', 234.762, 0)
(1, 'ARVEJ9M1187FB4DC44', None, None, '', 'Les Ogres De Barback', 'SOBQBWP12AB018611B', 'Niev nietch nievitch', 254.066, 1999)
(1, 'ARPSOOQ1187B993508', None, None, 'Stockholm', 'Bloodbath', 'SONJPRU12AF72A5963', 'Outnumbering The Day', 195.97, 0)

In [15]:
cur.execute('SELECT count(*) FROM staging_songs')
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(14896,)